<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Maker</title>
    <meta name="description" content="Attractive resumes Download and Use Now!">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/jquery-2.1.3.js"></script>
    <script src="../static/js/javascript.js"></script>
</head>
<body>
    <header class="h_color" id="head">
        <div class="text-left">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo">
                            <h2>RESUME MAKER</h2>
                            <p>Attractive resumes Download and Use Now!</p>
                        </div>
                        <div class="nav_button_right">
                            <a class="btn btn-primary" href="#popup1">Add your Data</a>
                            <input type="button" onclick="printDiv()" class="btn btn-warning" value="Print Resume">
                            <a class="btn btn-info" href="resume_template">More Resume Templates</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="resume_1">
        <div class="container">
            <div class="resume_1">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <h1 id="uname">Yash Bajaj</h1>
                            <p style="text-align: justify" id="uabout">Lorem Ipsum is simply dummy text...</p>
                        </div>
                    </div>
                    <!-- Ajoutez d'autres éléments de contenu ici -->
                </div>
            </div>
        </div>
    </section>

    <!-- Ajoutez d'autres sections et éléments ici -->

    <div id="popup1" class="overlay">
        <!-- Contenu du popup -->
    </div>

</body>
</html>
